
*, html, body, td {
	font-family:arial, helvetica, sans-serif;
}

body {
	margin:0;
	padding:0;
	background-color:#2d2d2b;
	color:#939393;
}

.NoSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#liveFeedHeader {
	width:700px;
	background-color:#000000;
	padding:10px;
}

.watchLiveLink, .watchLiveLink:hover, .watchLiveLink:active, .watchLiveLink:visited {
	font-size:16px;
	font-weight:bold;
	color:#ffa800;
}

.teamNameLink, .teamNameLink:hover, .teamNameLink:active, .teamNameLink:visited {
	text-decoration:none;
}

#userInfo {
	position:absolute;
	top:0px;
	right:0px;
	width:auto;
	background-color:black;
	padding:4px 10px;
	font-size:11px;
	color:#ffffff;
	line-height:16px;
	text-align:left;
}

.menu
{
	list-style-type:none;
	padding:0px;
	margin:0px;
	border:0;
	margin-left:73px;
}
.menu li
{ 
	float:left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top:21px;
	margin-right:8px;
	color:#cccccc;
	font-size: 14px;
	color: #b8b6b4;
	text-transform: uppercase;
}

.menu a, .menu a:active, .menu a:visited, .menu a:link, .menu a:focus
{
	color:#959595;
	text-decoration:none;
}

a, a:active, a:visited, a:focus
{
	color:#959595;
	text-decoration:none;
}

a:hover
{
	color:#ffffff;
	text-decoration:none;
	-webkit-transition: color .15s ease-in-out;
	-moz-transition: color .15s ease-in-out;
	-o-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
}

a.intmenu,a.intmenu:link,a.intmenu:visited,a.intmenu:active,a.intmenu:hover {
	display:inline-block;
	padding:21px 6px 0px 6px;
	margin-right:8px;
	font-size:14px;
	color:#b8b6b4;
	text-transform:uppercase;
}
a.intmenu:hover {
	color:#ffffff;
}


#centerContent {
	width:958px;
	margin:0;
	padding:0;
	text-align:left;
	font-size:12px;
	line-height:18px;
}

.centered {
	text-align:center;
}

form {
	margin:0;
	padding:0;
}

.perf_timing_area {
	position: relative;
	width: 936px;
	max-width: 100%;
	margin: 0px auto 48px auto;
	text-align: center;
	color: #B0AEAC;
}

.perf_timing_link {
}

.perf_timing_data {
	text-align: left;
	background-color: #000000;
	padding: 8px;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: #000;
}
@font-face {
    font-family: "Radiance";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf") format("truetype"),
        url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Radiance-SemiBold";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf") format("truetype"),
        url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Reaver";
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff2') format('woff2'), 
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Reaver";
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff2') format('woff2'), 
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Reaver";
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff2') format('woff2'), 
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Reaver";
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff2') format('woff2'), 
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Reaver";
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff2') format('woff2'), 
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


body {
    font-family: "Radiance", Verdana;
}

.DotaFont, .dotaFont {
    font-family: "Radiance", Verdana;
}

.TitleFont, .titleFont {
    font-family: "Reaver", Times, serif;
}

*
{
	font-family: 'Radiance';
	line-height: normal;
}

#navBarBGRepeat {
	width:100%;
	height: 64px;
	position:relative;
	z-index: 10001;
	background-image:url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/header/header_bg.png');
	font-family: 'Radiance';
}

#navBarBG {
	width:100%;
	height:64px;
	text-align:center;
}

#navBar {
	width: 950px;
	height: 64px;
	padding: 0;
	margin: 0 auto;
	text-align: left;
	font-family: 'Radiance';
}

#navBar .navBarItem {
	position: relative;
	display: inline-block;
	line-height: 18px;
}

#navBar a.navBarItem {
	text-transform:uppercase;
	letter-spacing:4px;
	font-size:14px;
	color:#cecece;
}

#navBar a.navBarItem:hover {
	color:#ffffff;
}

#navBar img.dn_arrow {
	position: relative;
	width: 10px;
	height: 6px;
	border: 0;
	top:-1px;
}

#navBar div.external_img {
}

a.navBarItem:link, a.navBarItem:active, a.navBarItem:visited {
	text-decoration:none;
	color: #908d8b;
}

a.navBarItem:hover {
	color: #ffffff;
}

#navLoginAndLanguage {
	position:absolute;
	width:750px;
	text-align:right;
	top:22px;
	padding-right:10px;
	font-size:10px;
	text-transform: uppercase;
	color: #626263;
	letter-spacing: 1px;
	line-height: 18px;
	font-family: 'Radiance';
}

#navLoginAndLanguage a, #navLoginAndLanguage a:hover, #navLoginAndLanguage a:visited, #navLoginAndLanguage a:active {
	color:#626263;
	text-decoration:none;
	font-size:10px;
	font-family: 'Radiance';
}

#navLoginAndLanguage a:hover {
	color:#ffffff;
}

#languageSelector
{
	display: inline-block;
}

#languageList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:999999;
	position:absolute;
	right:10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	font-family: 'Radiance';
}

#languageList a {
	display:block;
	padding:3px 6px;
}

#languageList a:hover {
	background-color:#555555;
}

#adminSelector {
	position: absolute;
	margin-left: 600px;
	margin-top: 40px;
}

#adminList {
	width: 130px;
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:100;
	position:absolute;
	right:20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#adminList a {
	display:block;
	padding:3px 6px;
}

#adminList a:hover {
	background-color:#555555;
}

#supportSelector {
	position: absolute;
	margin-left: 670px;
	margin-top: 40px;
}

#supportList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:100;
	position:absolute;
	right:20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#supportList a {
	display:block;
	padding:3px 6px;
}

#supportList a:hover {
	background-color:#555555;
}

.menuSubItemList {
	min-width: 200px;
	padding:3px 2px;
	border:solid #555 1px;
	background-color:#111;
	text-align:left;
	z-index:999999;
	position:absolute;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.menuSubItemList a {
	display:block;
	padding: 6px 8px;
	color: #AAA !important;
	font-size: small;
	text-decoration:none;
}

.menuSubItemList a:hover {
	color: white !important;
	background-color:#555;
	text-decoration:none;
}

.navItem {
	height: 24px;
	margin-top: 21px;
	display: inline-block;
}

.navItem sup {
	color: #a83b28;
	font-size: 0.7em;
	vertical-align: top;
	position: relative;
	top: -8px;
}

.navItemDotaLogo {
	width: 180px;
}

.navItem .DotaLogo {
	position: absolute;
	margin-top: -21px;
	top: 0;
	opacity: .8;
}

.navItem .DotaLogo:hover {
	opacity: 1;
}

@font-face {
    font-family: 'Radiance';
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot');
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff') format('woff'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf') format('truetype'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-Bold';
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot');
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.woff') format('woff'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf') format('truetype'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-SemiBold';
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot');
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff') format('woff'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf') format('truetype'),
    url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goudy_trajan_boldbold';
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot');
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf') format('truetype'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.svg#goudy_trajan_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'goudy_trajan_mediummedium';
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot');
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf') format('truetype'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.svg#goudy_trajan_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'goudy_trajan_regularregular';
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot');
    src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff') format('woff'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf') format('truetype'),
         url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.svg#goudy_trajan_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#mcgcflushresponse li .Language {
	padding-right: 10px;
}

#mcgcflushresponse .Done {
	color: rgb(100,100,100);
}

#mcgcflushresponse .Title {
	padding-bottom: 10px;
}

#HeaderSeperator
{
	color: #4f4c49;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}

#HeaderAdminSeperator
{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 12px;
}

#PlayForFreeButton
{
	display: block;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	background-color: #111C26;
	border: 1px solid #336391;
	height: 38px;
	width: 200px;
    text-shadow: 2px 2px 5px #000000;
    color: #4585C3;
	margin-left: 10px;
	text-align: center;
	float: right;
	margin-top: 13px;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px #000000;
	-webkit-text-stroke: 0.2px;
	text-stroke: 0.2px;
    font-size: 15px;
	padding-top: 8px;
    text-stroke: 0.2px;
    letter-spacing: 3px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
	font-family: 'Radiance';
}

#PlayForFreeButton:hover
{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	background-color: #263f56;
	color: #5595D3;
	border: 1px solid #3A73A3;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background-color: #263f56;
    color: #5595D3;
    border: 1px solid #3A73A3;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
	font-family: 'Radiance';
}

* 
{
	font-family:'Radiance',arial,helvetica,sans-serif;
	font-size:12px;
}

body 
{
	margin:0;
	padding:0;
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#0a0a0b;
}

#headerImage {
	margin: 0 auto;
	height: 438px;
	background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/majorsminors/header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #090a0a;
}

#headerNoImage h1,
#headerImage h1
{
	width: 100%;
	text-align: center;
	font-size: 48px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: white;
	padding-top: 158px;
	margin-top: -8px;
	margin-bottom: 0px;
	font-family: 'Radiance-SemiBold';
	text-shadow: 2px 2px 10px #000000;
}

#headerNoImage h2,
#headerImage h2
{
	width: 100%;
	text-align: center;
	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #92bbb7;
	margin-top: 4px;
	font-family: 'Radiance-SemiBold';
	text-shadow: 2px 2px 6px #000000;
}

#mainSection
{
	background-image: url('https://img.dota2.com.cn/file/13/7f/137fa148509da26893c09bcec4e908a31608701546.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 0px;
	padding-top: 60px;
	background-color: #000000;
	padding-bottom: 80px;
}

#roadHeader
{
	background-color: #3d5251;
	width: 600px;
	height: 60px;

	margin-left: auto;
	margin-right: auto;

	font-size: 22px;
	text-align: center;
	color: #D9D9D9;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-top: 16px;
	font-family: 'Radiance-SemiBold';

	text-shadow: 2px 2px 6px #000000;
}

#textHeader
{
	

	font-size: 22px;
	text-align: center;
	color: #D9D9D9;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-top: 16px;
	font-family: 'Radiance-SemiBold';

	
}
#roadWords
{
	text-align: justify;

	font-size: 19px;
	line-height: 34px;
	color: #9AA2A6;

	width: 750px;
	margin-left: auto;
	margin-right: auto;

	margin-top: 30px;
}

#roadWords i
{
	text-align: justify;

	font-size: 19px;
	line-height: 34px;
	color: #9AA2A6;

	width: 750px;
	margin-left: auto;
	margin-right: auto;

	margin-top: 30px;
}

#roadWords2
{
	

	font-size: 18px;
	line-height: 34px;
	color: #9AA2A6;

	width: 750px;
	margin-left: auto;
	margin-right: auto;

	margin-top: 30px;
}

a, a:active, a:visited, a:focus
{
	font-size: 18px;
	color: #D9D9D9;
}

a:hover
{
	text-decoration: underline;
}

#selectorButtons
{
	margin-left: auto;
	margin-right: auto;

	color: #324046;
	font-family: 'Radiance-SemiBold';

	font-size: 24px;
	text-align: center;

	margin-top: 90px;
	margin-bottom: 20px;

}

#selectorButtons .selector
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;

	padding-left: 10px;
	padding-right: 10px;

	cursor: pointer;

	font-family: 'Radiance-SemiBold';

	color: #D9D9D9;
}

#selectorButtons #selectorTeams.selector:hover,
#selectorButtons #selectorPlayers.selector:hover,
#selectorButtons #selectorSchedule.selector:hover
{
	color: #DDD;
}

#selectorButtons #selectorSchedule,
#selectorButtons #selectorTeams,
#selectorButtons #selectorPlayers
{
	color: #92bbb7;
}

.showSchedule #selectorButtons #selectorSchedule,
.showTeams #selectorButtons #selectorTeams,
.showPlayers #selectorButtons #selectorPlayers
{
	color: white;
}

.showSchedule #schedule,
.showTeams #teams,
.showPlayers #players
{
	display: block;
}


#schedule,
#teams,
#players
{
	display: none;

	width: 1100px;
	margin-left: auto;
	margin-right:auto;
}

#scheduleHeader,
#teamsHeader,
#playersHeader
{
	height: 30px;

	background-color: #3d5251;

	text-transform: uppercase;
	letter-spacing: 3px;
	padding-top: 7px;

	color: white;

	display: flex;
	text-align: center;
}

#teamsEmpty,
#playersEmpty
{
	background-color: #192023;
	height: 80px;
	text-align: center;
	font-size: 20px;
	color: #D8D8D9;
	padding-top: 30px;

}

.columnHeader
{
	font-size: 14px;
	font-family: 'Radiance-SemiBold';

	border-bottom: 1px solid #10161A;
}

.columnContent
{
	font-size: 18px;
	font-family: 'Radiance-SemiBold';
	letter-spacing: 1px;

	padding-top: 30px;
}

#players .columnContent
{
	padding-top: 8px;
}

.columnContent.organizerColumn
{
	padding-top: 0px;
}

.columnContent.teamLogoColumn
{
	padding-top: 17px;
}

.columnContent.rosterColumn
{
	padding-top: 24px;
	padding-left: 45px;
}

.columnContent.notCounted
{
	color: #5f5e5e;
}

.teamsRoster
{
	height: 140px;
	background-color: #151B1D;
}

.rosterElement
{
	height: 24px;
	background-color: #151B1D;

	display: flex;
}

.rosterElement .columnContent
{
	padding-top: 0px;
}

.rosterElement .columnContent .flag
{
	margin-top: 5px;
}


.minor .columnContent
{
	color: #9AA2A6;
}

.major .columnContent
{
	color: #D8D8D9;
}

#schedule .dateColumn
{
	width: 180px;
	text-align: left;
	padding-left: 30px;
}

#schedule .statusColumn.columnHeader
{
	padding-left: 50px;

}

#schedule .statusColumn
{
	width: 160px;
	text-align: left;
	padding-left: 55px;
}

#schedule .locationColumn
{
	width: 220px;
	text-align: left;
	padding-left: 50px;
}

#schedule .prizeColumn.columnHeader
{
	padding-right: 50px;
}

#schedule .prizeColumn
{
	width: 160px;
	text-align: right;
	padding-right: 40px;
}

#schedule .pointsColumn.columnHeader
{
	padding-right: 30px;
}

#schedule .pointsColumn
{
	width: 160px;
	text-align: right;
	padding-right: 50px;
}

#schedule .organizerColumn
{
	width: 220px;
}

.scheduleElement,
.teamsElement
{
	height: 80px;
	
	border-bottom: 1px solid #10161A;
	border-top: 1px solid #10161A;

	display: flex;
	text-align: center;
}

.teamsElement
{
	background-color: #192023;
}

.playersElement
{
	height:40px;

	border-bottom: 1px solid #10161A;
	border-top: 1px solid #10161A;

	display: flex;
	text-align: center;

	background-color: #192023;
}

.scheduleElement.minor
{
	background-color: #192023;
}

.scheduleElement.major
{
	background-image:url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/majorsminors/major_bg.jpg');
	background-position:top center;
	background-repeat: no-repeat;
	width: 100%
}

.flag
{
	width: 16px;
	height: 11px;
	margin-right: 6px;
}

.tournamentLogo
{
	height: 78px;
}

#LastUpdated
{
	width: 100%;
	text-align: center;
	padding-top: 40px;
	font-size: 18px;
}

#teams .rankColumn
{
	width: 160px;
}

#teams .teamLogoColumn
{
	width: 80px;
}

#teams .teamColumn
{
	text-align: left;
	width: 650px;
}

#teams .earningsColumn
{
	width: 260px;
}

#teams .pointsColumn
{
	width: 160px;
}

#teams .rosterColumn
{
	width: 160px;
}

#teams .flagColumn
{
	width: 220px;
	text-align: right;
}

#teams .playerNameColumn
{
	text-align: left;
	width: 626px;
}

#teams .playerPointsColumn
{
	width: 200px;
}

.teamlogo
{
	height: 40px;
}

.rosterButton
{
	padding-top: 5px;
	width: 90px;
	height: 30px;
	background-color: #3D4F5D;

	color: #D5D6D6;

	text-align: center;
	font-weight: normal;
	text-shadow: 1px 1px #000000;

	border-radius: 3px;

	cursor: pointer;

	font-size: 15px;
}

.teamsElement .rosterButton:hover
{
	background-color: #4f6779;
}


.showRoster .arrow-down
{
	border-bottom: 5px solid #D5D6D6;
	border-top: 5px solid transparent;

	display: inline-block;
}

.arrow-down
{
	margin-left: 5px;
	margin-bottom: 2px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #D5D6D6;

	display: inline-block;
}

#players .rankColumn
{
	width: 160px;
}

#players .playerNameColumn
{
	width: 360px;
}

#players .teamColumn
{
	width: 360px;
}

#players .pointsColumn
{
	width: 160px;
}


#details
{
	margin-top: 50px;
	width: 800px;

	margin-left: auto;
	margin-right: auto;
}

#details li
{
	font-size: 18px;
	color: #D9D9D9;
	margin: 0 0 10px 0;
}

#details #foo li
{
	margin: 0 0 0 0;
}

#details li a
{
	text-decoration: underline;
}



#faq
{
	width: 1000px;

	margin-left: auto;
	margin-right: auto;
}


#faq h1
{
	margin-top: 60px;

	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;

	margin-left: auto;
	margin-right:auto;

	text-align: center;

	font-weight: bold;

	color: #D9D9D9;
}

.faqQuestion
{
	color: #92bbb7;
	font-weight: bold;
	font-size: 20px;

	line-height: 30px;
}

.faqAnswer
{
	color: #ACB4B9;
	line-height: 30px;
	font-size: 19px;

	padding-bottom: 20px;
}

.faqAnswer i
{
	color: #ACB4B9;
	line-height: 30px;
	font-size: 19px;

	padding-bottom: 20px;
}

.faqAnswer li
{
	color: #ACB4B9;
	line-height: 30px;
	font-size: 18px;
}

.faqAnswer ul
{
	margin-bottom: 0px;
}

.PendingLogo
{
	font-size: 18px;
	margin-top: 30px;
	font-weight: bold;
}

.New
{
	color: red;
	padding-left: 10px;
	letter-spacing: 1px;
}

.PointTable
{
	margin-left: 10px;
}

.PointTable .Header
{
	text-decoration: underline;
}

.PointTable td
{
	padding-right: 20px;
	text-align: right;
}

.Updated
{
	color: #648364;
	padding-left: 10px;
	letter-spacing: 1px;
}

#valveFooter {
	padding-top:80px;
	padding-bottom: 120px;
	width:1000px;
	margin:auto;
}
#logoValve {
	width:110px;
	height:36px;
	float:left;
}
#legal {
	padding-top:4px;
	color:#525050;
	font-size:12px;
	line-height:16px;
}

.endContainer {
	position: relative;
	width: 100%;
}

.endImage {
	position: absolute;
    bottom: -30;
}

/*https://img.dota2.com.cn/file/13/7f/137fa148509da26893c09bcec4e908a31608701546.jpg*/